<link rel="stylesheet" href="/css/wishlist.css">
<link rel="stylesheet" href="/css/background.css">
<link rel="stylesheet" href="/css/CardLayout.css">
<body>
<div class="background">
	<div class="detail">
		<div class="wishlist">
			<p>나만의</p>
			<p>소중한</p>
			<p>위시리스트</p>
		</div>
		<div class="image">
			<img alt="present" src="/images/present_icon.png">
		</div>
	</div>
	<div class ="container">
		<div class="card-list" th:if="${paging != null}">
			<a th:href="@{/wishlists/}" class="card" id="input" >+</a>
			<a th:each="wishlist : ${paging.content}" th:href="@{'/' + ${wishlist.link} + '/products'}" class="card">
		    	<img th:src="${wishlist.listImg}" class="card-image" />
		    	<div class="card-details">
		        	<h4 th:text="${wishlist.name}" class="card-title" ></h4>
		        	<p th:text="${wishlist.dDay}" class="card-progress"></p>
		        </div>
		    </a>
	    </div>
	</div>    
	<div class = "navBar">
		<nav aria-label="Page navigation">
	        <ul class="pagination justify-content-center">
	            <li class="page-item" th:classappend="${paging.number == 0} ? 'disabled'">
	                <a class="page-link" th:href="@{/wishlists/my/{page}(page=${paging.number - 1})}" aria-label="Previous" th:if="${paging.number > 0}">
	                    <span aria-hidden="true">&laquo;</span>
	                </a>
	            </li>
	            <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, paging.totalPages - 1)}" th:classappend="${pageNum == paging.number} ? 'active'">
	                <a class="page-link" th:href="@{/wishlists/my/{page}(page=${pageNum})}" th:text="${pageNum + 1}"></a>
	            </li>
	            <li class="page-item" th:classappend="${paging.number == paging.totalPages - 1} ? 'disabled'">
	                <a class="page-link" th:href="@{/wishlists/my/{page}(page=${paging.number + 1})}" aria-label="Next" th:if="${paging.number < paging.totalPages - 1}">
	                    <span aria-hidden="true">&raquo;</span>
	                </a>
	            </li>
	        </ul>
	    </nav>  
	 </div>
</div>
</body>

