<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>모금</title>
</head>
<body>
	<form method="post">
		<h1>모금 페이지</h1>
		<div>
			<input type="submit" value="모금하기">
		</div>
		<label for="amount">결제 금액 선택:</label> 
		<select id="amount" name="amount">
			<option th:each="amount : ${amountOptions}" th:value="${amount}"
				th:text="${#numbers.formatDecimal(amount, 0, 'COMMA', 0, 'POINT')} + '원'"></option>
		</select> 
<!-- 		<label for="amount">결제 금액:</label> 
		<select id="amount" name="amount">
			<option value="5000">5,000원</option>
			<option value="10000">10,000원</option>
			<option value="20000">20,000원</option>
			<option value="30000">30,000원</option>
			<option value="40000">40,000원</option>
			<option value="50000">50,000원</option>
		</select> -->
		<div style="margin-top: 20px">
			<a
				th:href="@{/fundings/payment/{fundingUid} (fundingUid=${fundingUid})}">결제
				페이지로 이동</a>
		</div>
		<p th:text="${message}"></p>
	</form>
</body>
</html>