<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>모금</title>
</head>
<style>
body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
</style>
<body>
	<h1 th:text="${productName} + '에 대한 모금'"></h1>
	
	<div th:if="${amountOptions.length == 1 and amountOptions[0] == 0}"
		style="margin-top: 20px">
		<p>100% 모금이 완료되어 더 이상 모금을 할 수 없습니다.</p>
		<a th:href="@{/products/{productLink} (productLink=${productLink})}">제품
			페이지로 돌아가기</a>
	</div>
	
	<form method="post"
		th:action="@{/fundings/{productLink} (productLink=${productLink})}">
		<div
			th:unless="${amountOptions.length == 1 and amountOptions[0] == 0}">
			<div>
				<input type="submit" value="모금액 결정">
			</div>
			<label for="amount">결제 금액 선택:</label> <select id="amount"
				name="amount">
				<option th:each="amount : ${amountOptions}" th:value="${amount}"
					th:text="${#numbers.formatDecimal(amount, 0, 'COMMA', 0, 'POINT')} + '원'"></option>
			</select>

			<div style="margin-top: 20px">
				<label for="message">메시지:</label>
				<textarea id="message" name="message" placeholder="여기에 메시지 입력"
					maxlength="100" rows="5" style="width: 80%;"></textarea>
			</div>
			<!-- 필요없 -->
			<div style="margin-top: 20px">
				<a
					th:href="@{/fundings/payment/{fundingUid} (fundingUid=${fundingUid})}">결제
					페이지로 이동</a>
			</div>
		</div>
	</form>
	<!-- HTML 태그를 이스케이프 처리하지 않고 출력 -->
	<p th:utext="${messageT}"></p>
	<hr>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div th:if="${errorMessage}" th:text="${errorMessage}"
		id="errorMessage" style="display: none;"></div>
	<div th:if="${successMessage}" th:text="${successMessage}"
		id="successMessage" style="display: none;"></div>
	<script>
		window.onload = function() {
			var errorMessage = document.getElementById('errorMessage');
			if (errorMessage && errorMessage.innerText) {
				alert(errorMessage.innerText);
			}
			var successMessage = document.getElementById('successMessage');
			if (successMessage && successMessage.innerText) {
				alert(successMessage.innerText);
			}
		};
	</script>
</body>
</html>