<!DOCTYPE html>
<html lang="en">
<head>
<!-- jQuery -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>

<meta charset="UTF-8">
<title>Sample Payment</title>
</head>
<body>

	<form id="paymentForm">
		<label for="amount">결제 금액:</label> <select id="amount" name="amount">
			<option value="5000">5,000원</option>
			<option value="10000">10,000원</option>
			<option value="15000">15,000원</option>
			<option value="20000">20,000원</option>
			<option value="25000">25,000원</option>
			<option value="30000">30,000원</option>
			<option value="35000">35,000원</option>
			<option value="40000">40,000원</option>
			<option value="45000">45,000원</option>
			<option value="50000">50,000원</option>
			<!-- 남은 금액 50000원 미만인데 5000원단위 아니면 48370 추가-->
		</select>
	</form>
	<br>
	<div class="kg_pay_btn">
		<button type="button" onclick="kg_request_pay()">결제하기</button>
	</div>
	<br>
	<div class="ka_pay_btn">
		<button type="button" onclick="ka_request_pay()">카카오페이</button>
	</div>
	<br>
	<div th:text="${@environment.getProperty('imp.code')}"></div>

	<link id="impCode"
		th:data-contextPath="${@environment.getProperty('imp.code')}" />
	<script>
		const IMP_CODE = document.querySelector("#impCode").getAttribute(
				"data-contextPath");

		var IMP = window.IMP;
		IMP.init(IMP_CODE);

		function kg_request_pay() {
			var selectedAmount = document.getElementById("amount").value;
			IMP.request_pay({
				pg : "html5_inicis.INIpayTest", //Test는 TC0ONETIME
				pay_method : "card",
				merchant_uid : "gpay_" + new Date().getTime(),
				name : "테스트 상점",
				amount : selectedAmount,
				buyer_email : 'test@naver.com',
				buyer_name : '코드쿡',
				buyer_tel : '010-1234-5678',
				buyer_addr : '서울특별시',
				buyer_postcode : '123-456',
			}, function(rsp) {
				console.log(rsp);
				$.ajax({
					type : 'POST',
					url : '/verify/' + rsp.imp_uid
				}).done(function(data) {
					if (rsp.paid_amount === data.response.amount) {
						alert("결제 성공");
					} else {
						alert("결제 실패");
					}
				});
			});
		}

		function ka_request_pay() {
			var selectedAmount = document.getElementById("amount").value;
			IMP.request_pay({
				pg : "kakaopay.TC0ONETIME", //Test는 TC0ONETIME
				pay_method : "card",
				merchant_uid : "gpay_" + new Date().getTime(),
				name : "테스트 상점",
				amount : selectedAmount,
				buyer_email : 'test@naver.com',
				buyer_name : '코드쿡',
				buyer_tel : '010-1234-5678',
				buyer_addr : '서울특별시',
				buyer_postcode : '123-456',
			}, function(rsp) {
				console.log(rsp);
				$.ajax({
					type : 'POST',
					url : '/verify/' + rsp.imp_uid
				}).done(function(data) {
					if (rsp.paid_amount === data.response.amount) {
						alert("결제 성공");
					} else {
						alert("결제 실패");
					}
				});
			});
		}
	</script>
</body>
</html>