<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/CardLayout.css">
<link rel="stylesheet" href="/css/background.css">
<link rel="stylesheet" href="/css/nav.css">
</head>
<body>
<div class="nav">	
	<a class="logo" th:href="@{/main}">
		<img src="/images/logo.png" alt="logo">
	</a>
	<div class ="menu">
		<a class="myWish" th:href="@{/wishlists/my/0}">
			<img src="/images/mywishButton.png" alt="mywish">
		</a>
		<a class="mypage" th:href="@{/mypage}">
			<img src="/images/mypageButton.png" alt="mypage">
		</a>
	</div>
</div>
	<div class="background">
		<div class="tatle">
			<a class="back" th:href="@{/wishlists/my/0}">
				<img src="/images/prev_button.png" alt="뒤로가기">
			</a>
			<h1 class="wishName" th:text="${wishlist.name}"></h1>
		</div>
		<div class="detail">
			<div class="detail-info">
				<div class="description" th:text="${wishlist.description}"></div>
				<div class="dday">
					<div class=ddayblock>
						<p>D</p>
					</div>
					<div class=ddayzero th:if="${daysDiff == 0}">
						<div class=ddaybar></div>
						<div th:each="digit : ${#numbers.sequence(0, 'DAY'.length() - 1)}">
							<div class=ddayblock>
								<p th:text="${'DAY'.toString().charAt(digit)}"></p>
							</div>
						</div>
					</div>
					<div class=ddayzero th:if="${daysDiff > 0}">
						<div class=ddaybar></div>
						<div th:each=" digit: ${#numbers.sequence(0, daysDiff.toString().length() - 1)}">
							<div class=ddayblock>
								<p th:if="${daysDiff > 0}" th:text="${daysDiff.toString().charAt(digit)}"></p>
							</div>
						</div>
					</div>
					<div class=ddayzero th:if="${daysDiff < 0}">
						<div class=ddayplus>+</div>
						<div th:each=" digit: ${#numbers.sequence(1, daysDiff.toString().length() - 1)}">
							<div class=ddayblock>
								<p th:if="${daysDiff < 0 && digit != 0}" th:text="${daysDiff.toString().charAt(digit)}"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="copyLink"><a href="#" onclick="clip(); return false;">URL주소복사</a></div>
				<div class="copyLink" th:if="${daysDiff <= 0}">
					<a th:href="@{|/${wishlist.link}/message|}">메세지 보러가기</a>
				</div>
			</div>
			<div class="detail-image">
				<img th:src="${wishlist.listImg}" alt="Wishlist Image"> 
				<span>
					<p th:text="|${#temporals.format(wishlist.deadline, 'yyyy-MM-dd')} 그날만 기다리며..☆|"></p>
				</span>
			</div>
		</div>
		<div class="edit" th:if="${daysDiff > 0}" >
			<a th:href="@{|/wishlists/${wishlist.link}}" class="btn-primary">수정하기</a>
			<form th:action="@{|/wishlists/${wishlist.link}/delete|}" method="get">
				<input type="hidden" name="_method" value="delete" />
				<button type="submit" onclick="confirmDelete()" class="btn-primary">삭제하기</button>
			</form>
		</div>
		<div class="container">
			<div class="card-list" th:if="${productList != null}">

				<a th:if="${daysDiff > 0}" th:href="@{|/${wishlistLink}/create|}" class="card" id="input">+</a>
				<a th:each="product : ${productList}" th:href="@{|/products/${product.productLink}|}" class="card"> 
					<img th:src="${product.productImg}" alt="Product Image" class="card-image">
					<div class="card-details">
						<h2 th:text="${product.name}" class="card-title"></h2>
						<p class="card-progress" th:text="${(product.currentAmount * 100.0 / product.goalAmount).toString().substring(0, (product.currentAmount * 100.0 / product.goalAmount).toString().indexOf('.')) + '%'}"></p>
					</div>
				</a>
			</div>

		</div>
	</div>
</body>
<footer th:fragment="footerFragment" id="footer" class="mb-[60px] relative">
	<div class="info_box flex justify-between">
		<div>
			<p>상호명 : (주)Giftogether</p>
			<p>대표자 : MoAdream</p>
			<p>사업자 등록번호 : 777-77-77777</p>
			<p>
				Email: <a href="mailto:777@777.com">777@777.com</a>
			</p>
			<p>Tel : 777-7777-7777</p>
			<p>Address : 서울 종로구 창경궁로 254 6층, 6층 603호</p>
			<p>통신판매번호 : 2024-ㅁㅁㅁㅁ-7777</p>
			<p>
				Copyright &#169;2024 Giftogether, <span class="text-gray-200">icon
					by <a class="" target="_blank" href="https://icons8.com">Icons8</a>
				</span>
			</p>
			<p>
				Based on <a href="https://wishes.kr/" target="_blank">©2023
					Wishes</a>, modified by Wishes. View original at <a
					href="https://wishes.kr/" target="_blank">©2023 Wishes</a>
			</p>
			<p>
				<span class="text-gray-200"><a class="" target="_blank"
					href="private.html">개인정보처리방침</a></span>
			</p>
		</div>
	</div>
</footer>
<script type="text/javascript">

function clip(){

	var url = '';
	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
	alert("URL이 복사되었습니다.")
}

function confirmDelete() {
    if (confirm("진짜 삭제하시겠습니까?")) {
        document.getElementById("deleteForm").submit();
    } else {
    	event.preventDefault(); 
        console.log("삭제 취소");
    }
}

</script>
</html>