<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/css/messageForm.css">
</head>
<body>
    <div class="container">
    	<div class="top">
    		<p>상품 추가하기</p>
    	</div>
        <form th:action="@{|/${wishlistLink}/create|}" th:object="${productForm}" method="post">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
            </div>
            
            <input type="text" id="name" th:field="*{name}" placeholder="구매할 상품명을 작성해주세요" value="">

            <input type="text" id="externalLink" th:field="*{externalLink}" placeholder="상품을 구매할 링크를 입력해주세요" value="">

			
			<div class="upload-photo">
                <input type="file" accept="image/jpeg, image/png, image/gif, image/heic, image/webp" id="file" name="file" onchange="uploadFile(event)">
                <img id="uploadedImage" alt="Uploaded Image">
                <input type="hidden" id="uploadedImageUri" name="uploadedImage">
            </div>

		
			<input type="text" id="description" th:field="*{description}" placeholder="상품에 대해 설명해주세요 (ex.갖고 싶은 이유)" value="">
            
            <input type="text" id="optionDetail" th:field="*{optionDetail}" placeholder="상품에 옵션이 있다면 작성해주세요" value="">
            
            <input type="text" id="goalAmount" th:field="*{goalAmount}" onblur="checkGoalAmount()" placeholder="상품 가격을 입력해주세요" value="">
            <span id="goalAmountError"></span>
            
            <input type="submit" value="상품 추가하기">
        </form>
    </div>

<script>
    function uploadFile(event) {
        var file = event.target.files[0];
        var formData = new FormData();
        formData.append('file', file);
        formData.append('imageUri', document.getElementById('uploadedImage').src);

        fetch("/files/image/products", {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('파일 업로드 실패');
                }
            })
            .then(imageUri => {
                document.getElementById('uploadedImage').style.display = 'block';
                document.getElementById('uploadedImage').src = imageUri;
                document.getElementById('uploadedImageUri').value = imageUri;
            })
            .catch(error => {
                const errorMessageElement = document.getElementById('errorMessage');
                if (errorMessageElement) {
                    errorMessageElement.textContent = error.message;
                    errorMessageElement.style.display = 'block';
                } else {
                    console.error('errorMessage 요소를 찾을 수 없습니다.');
                }
            });
    }

    function checkGoalAmount() {
        var goalAmountInput = document.getElementById('goalAmount');
        var goalAmount = parseInt(goalAmountInput.value);

        if (goalAmount < 50000 || goalAmount > 5000000) {
            document.getElementById('goalAmountError').textContent = '금액은 50,000원에서 5,000,000원 사이여야 합니다.';
            goalAmountInput.value = '';
            goalAmountInput.focus();
        } else {
            document.getElementById('goalAmountError').textContent = '';
        }
    }
</script>
</html>
