<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/Detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
	<div class="detail">
		<div class ="top">
			<a class="back" th:href="@{|/${product.wishlist.link}/products|}">
				<img src="/images/prev_button.png" alt="뒤로가기">
			</a>
			<div class="copyLink"><a href="#" onclick="clip(); return false;">URL주소복사</a></div>
		</div>
	
	
		<div class="detail-image">
			<img th:src="${product.productImg}" alt="Product Image">
		</div>
		<div class="detail-info">
			<h1 th:text="${product.name}"></h1>
			<div class="description" th:text="${product.description}"></div>
		</div>
		<div class="goal-amount-box">
		<p class="percent"
			th:text="${(product.currentAmount * 100.0 / product.goalAmount).toString().substring(0, (product.currentAmount * 100.0 / product.goalAmount).toString().indexOf('.')) + '% 달성 했어요!'}"></p>
		<div class="progress-bar">
			<div class="progress"
				th:style="'width: ' + ${product.currentAmount}/${product.goalAmount}*100 + '%;'"></div>
		</div>
		<div class="rest-amount"
			th:text="${product.goalAmount}-${product.currentAmount} + '원 남았어요!'"></div>

		</div>
	
		<div class=bottom>
			<a th:if="${daysDiff > 0}" class=fundingButton th:href="@{|/fundings/${product.productLink}|}" alt="Kakao Login"> 
				<p class="goFunding">선물 펀딩하기</p>
			</a>
			<a th:if="${daysDiff <= 0}" class=fundingButton alt="Kakao Login"> 
				<p class="goFunding">선물 펀딩이 종료되었어요</p>
			</a>
		</div>
	</div>


	<script>
		
		function clip(){

			var url = '';
			var textarea = document.createElement("textarea");
			document.body.appendChild(textarea);
			url = window.document.location.href;
			textarea.value = url;
			textarea.select();
			document.execCommand("copy");
			document.body.removeChild(textarea);
			alert("URL이 복사되었습니다.")
		}
	</script>
</body>

</html>