<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/CardLayout.css">
<link rel="stylesheet" href="/css/Detail.css">
</head>
<body>
<div class="detail">
	<div class="detail-image">
	        <img th:src="${wishlist.listImg}" alt="Wishlist Image">
	    </div>
	<div class="detail-info">
		<h1 th:text="${wishlist.name}"></h1>
		<div class="description" th:text="${wishlist.description}"></div>
	</div>
</div>

<div class="container">
	<div class="card-list" th:if="${productList != null}">
		<a th:href="@{|/${wishlistLink}/create|}" class="card" id="input">+</a>
		<a th:each="product : ${productList}" th:href="@{|/products/${product.productLink}|}" class="card">
			<img th:src="${product.productImg}" alt="Product Image" class="card-image">
			<div class="card-details">
				<h2 th:text="${product.name}" class="card-title"></h2>
				<p class="card-progress"
						th:text="${(product.currentAmount * 100.0 / product.goalAmount).toString().substring(0, (product.currentAmount * 100.0 / product.goalAmount).toString().indexOf('.')) + '%'}"></p>
			</div>
		</a>
	</div>
		
</div>
</div>


</body>
</html>