@charset "UTF-8";

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
	text-align: center;
	padding: 20px;
}
.header.h2{
	padding: 20px;
}


.header.p{
	padding: 20px;
}

/* Center aligning the container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

/* Styling for card list */
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* 가운데 정렬 */
}

/* Styling for each card */
.card {
    width: calc(50% - 10px); /* Two cards per row with 20px gap */
    max-width: 400px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-decoration-line: none;
    color: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card#input{
	background-color: #CCDBFD;
	color: #ffffff;
	font-size: 80px;
	margin: auto, 0;
	text-align:center;
	line-height: 450px;
}

.card:hover {
    transform: translateY(-5px);
}

/* Styling for card image */
.card-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-bottom: 1px solid #e0e0e0;
}

.card-image img {
    width: 100%;
    height: auto;
}

/* Styling for card details */
.card-details {
    padding: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-progress {
    font-size: 14px;
    color: #666666;
}