@charset "UTF-8";

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
	text-align: center;
	padding: 20px;
}
.header.h2{
	padding: 20px;
}


.header.p{
	padding: 20px;
}

/* Center aligning the container */
.container {
    max-width: 600px;
    min-height:600px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    height:auto;
	background-color: #EBF5F3
}

/* Styling for card list */
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* 가운데 정렬 */
    width:auto;
}

/* Styling for each card */
.card {
    width: calc(50% - 10px); 
    max-width: 300px;
    min-width:200px;
    height:325px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-decoration-line: none;
    color: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card#input{
	width: calc(50% - 10px); 
	background-color: #AFE7DC;
	color: #ffffff;
	font-size: 80px;
	margin: auto, 0;
	text-align:center;
	line-height: 280px;
}

.card:hover {
    transform: translateY(-5px);
}

/* Styling for card image */
.card-image {
	width: 270px;
    height:255px;
    object-fit: cover;
    border-bottom: 1px solid #e0e0e0;
}

.card-image img {
    width: 100%;
    height: auto;
}

/* Styling for card details */
.card-details {
    padding: 5px 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-progress {
    font-size: 14px;
    color: #666666;
}


.btn-primary {
    display: inline-block;
    padding: 5px 20px;
    margin: 10px;
    background-color: #FFB6B6;
    color: white;
    text-decoration: none;
    border: 1px solid #FFB6B6;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: white;
    color: #FF94B4;
}

.btn-primary:active {
    background-color: #FF94B4;
    color: white;
    border-color: #FF94B4;
}