.slide-wrap {
  width: 65%;
  margin: 0 auto 2rem;
}

.slide-wrap .slide {
  width: 100%;
}

.funding-item {
  height: 240px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.funding-item>img {
  all: inherit;
}



.funding-amount {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.selected-reward-image {
  width: 68px;
  position: absolute;
  left: 0;
  bottom: 6px;
}

.funding-amount .amount-text {
  padding-left: 32px;
}


/* section02 */
/* #section02 h2 {
  margin-bottom: 48px;
} */

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.input-label {
  text-align: left;
  margin-bottom: 0.625rem;
}

.input-container {
  width: 100%;
  position: relative;
}

.icon-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

#input-unit {
  text-align: right;
  padding: 0 36px;
}

#input-amount {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
}

.form-input input {
  width: 100%;
  height: 48px;
  position: relative;
  text-align: center;
  color: var(--gray6);
  border: 1px solid var(--gray4);
  border-radius: 4px;
  padding: 0 55px 0 16px;
}

.form-input input:not([value='']):not(#input-unit) {
  border-color: var(--primary);
}

.form-input input::placeholder {
  color: var(--gray5);
  font-size: 1rem;
}

.form-input input[type='radio'] {
  display: none;
}

#input-amount:read-only {
  background-color: rgba(234, 234, 234, 0.5);
}

#input-amount:read-only + .icon-close {
  display: none;
}

.select-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.select-button-container > label {
  height: 48px;
  border: 1px solid var(--gray4);
  border-radius: 4px;
  line-height: 48px;
}

.select-button {
  width: 49%;
  color: var(--gray6);
}

input[type='radio']:checked + label {
  color: var(--primary);
  border-color: var(--primary);
}

.textarea-container {
  width: 100%;
  position: relative;
  text-align: left;
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  border: 1px solid var(--gray4);
  border-radius: 4px;
  resize: none;
  padding: 16px;
}

textarea:active,
textarea:focus {
  outline:1px solid var(--primary);
}

textarea + .text-length {
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: var(--gray4);
}
/* 쿠폰적용 셀렉트박스에 아이콘 */
.coupon-label{
  position: relative;
}
.coupon-label:after{
  content: '';
  background: url(../../../assets/images/coupon_img.svg);
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  background-repeat: no-repeat;
  display: inline-block;
  width: 22px;
  height: 16px;
  position: absolute;
  left: 11px;
  top: 45px;
}
@media (min-width: 500px) {
  .coupon-label:after {
    top: 42px;
  }
}