.btn-share-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 32px;
  right: 32px;
}

.btn-share {
  width: 32px;
  height: 32px;
}

.slide-wrap {
  width: 65%;
  margin: 2rem auto;
}

.slide-wrap .slide{
  width: 100%;
}

.funding-item{
  height: 240px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.funding-item > img {
  all: inherit;
}
/* slick slide dot custom*/
/* 
.slick-dots {
  position: absolute;
  bottom: -3px;
  display: flex;
  justify-content: center;
  width: 100%;
} */
/* 
.slick-dots li {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0 3px;
  padding: 0;
  background-color: var(--gray4);
  cursor: pointer;
  overflow: hidden;
}

.slick-dots li.slick-active {
  background-color: var(--primary);
}

.slick-dots li button {
  color: transparent;
} */


/* slick slide arrow custom*/
.slick-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 50%;
  z-index: 5;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.achieved-container {
  margin: 1rem 0 1.2rem;
}

/* section 02 */
.story-box {
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.08);

}

#story {
  white-space: pre-line;
  line-height: 1.5;
}

.read-letter-container{
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
  transition: 0.5s height ease-in-out;
}

.read-letter-container.more {
  height: 0;
}

/* section 03 */
.container.rolling-box {
  position: relative;
  /* padding: 48px 24px; */

  border-top-right-radius: 36px;
  border-top-left-radius: 36px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0,0,0.2);
  overflow: hidden;
}

#rolling-paper {
  margin: 25px 0;
}

.rolling-paper-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.rolling-paper-box:nth-child(n+4) {
  display: none;
}

.rolling-paper-box:last-child {
  margin-bottom: 0;
}

.gifter-rank {
  width: 32px;
  flex-shrink: 0;
}

.rolling-paper-item{
  width: 88%;
  max-width: 320px;
  /* height: 40px; */
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1rem;
  color: #222222;
  background-color: #fff;
  border-radius: 18px;
  /* line-height:  */
}

.gifter-message { 
  overflow: hidden;
  padding: 0 16px 0px 50px;
}


/* .gifter-message > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

} */

.gifter-profile {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 0;
  top: 0;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  background-color: var(--bg);
  border-radius: 50%;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrap {
  width: 70%;
  object-fit: cover;
  margin: 0 auto;
}

.gifter-profile.mvp {
  border: 1px solid var(--info);
}


/* section04 */
/* #section04 .subtitle1 {
  margin-bottom: 2rem;
} */

.achieved-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.achieved-details {
  display: flex;
  justify-content: space-between;
}

#reward-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  flex-wrap: wrap;
}


.list-item-box {
  width: 48%;
  margin-bottom: 1rem;
  overflow: hidden;
}

.list-item-box:last-child, .list-item-box:nth-last-child(2){
  margin-bottom: 0;
}

.item-image a{
  all: inherit;
}

.list-item-box > a > p {
  color: var(--gray5);
  white-space: nowrap;
  font-size: 12px;
}

/* .list-item-box > button {
  font: inherit;
} */

/* custom toast */

#toast {
  width: 85%;
  max-width: 452px;
  position: fixed;
  bottom: 94px;
  left: 50%;
  padding: 15px 20px;
  transform: translate(-50%, 10px);
  text-align: center;
  color: #5B1EA8;
  border-radius: 5px;
  background-color: #E5D2FF;
  border: 1px solid #5B1EA8;
  opacity: 95%;
  overflow: hidden;
  visibility: hidden;
  transition: opacity .5s, visibility .5s, transform .5s;
  z-index: 9999;
}

#toast.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0)
}

.gifter-message {
  width: 100%;
  text-align: left;
}

.story1{
  height: 200px;
  overflow: hidden;
}
/* 댓글 스타일링 */
#comment-section > .user-comment > *:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.5px;
  background-color: #8C35FA; /* Adjust color as needed */
  opacity: 0.1;
}

/* ## */
@media (max-width: 400px) {
  #reward-list button {
    font-size: 14px;
  }
}
