/* tutorial page*/
.tutorial-nav .active{
    font-weight: 600;
    color: white;
}
.tutorial-container .slick-track{
    padding: 10px 0;
}
/* tutorial-tab active */
.tutorial-content.active {
    display:block;
}

/* event page */
.event-nav{
    border-bottom: 2px solid #ebebeb;
    box-sizing: border-box;
}
.event-nav .active{
    font-weight: 600;
    color: #8D36FB;
    border-bottom: 2px solid #8D36FB;
}
.event-container .slick-track{
    padding: 10px 0;
}
/* event-tab active */
.event-content.active {
    display:block;
}

/* wish-list page */
.wish-list-nav{
    border-bottom: 2px solid #ebebeb;
    box-sizing: border-box;
}
.wish-list-nav .active{
    font-weight: 600;
    color: #8D36FB;
    border-bottom: 2px solid #8D36FB;
}
.wish-list-container .slick-track{
    padding: 10px 0;
}
/* event-tab active */
.wish-list-content.active {
    display:block;
}