/* tutorial page*/
.tutorial-nav .active{
  font-weight: 600;
  color: white;
}
.tutorial-container .slick-track{
  padding: 10px 0;
}
/* tutorial-tab active */
.tutorial-content.active {
  display:block;
}
