/* typography */
body > *{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

/* @media (max-width: 400px) {
  html {
    font-size: 14px;
  }
} */


/* .title1 {
  font-size: 2rem;
  font-weight: 700;
}

.title2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.subtitle1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.subtitle2 {
  font-size: 1.125rem;
  font-weight: 700;
}

.subtitle3 {
  font-size: 1rem;
  font-weight: 700;
}

.subtitle4 {
  font-size: 1rem;
  font-weight: 500;
}

.subtitle5 {
  font-size: 0.75rem;
  font-weight: 700;
}

.body1 {
  font-size: 1.125rem;
}

.body2 {
  font-size: 1rem;
}

.body3 {
  font-size: 0.875rem;
}

.body4 {
  font-size: 0.875rem;
  font-weight: 700;
}

.body5 {
  font-size: 0.75rem;
} */
