<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta property="og:image"
	th:content="@{/waitlist_public/assets/images/og_image.png}">
<meta property="og:type" content="website">
<meta property="og:title" content="기프투게더 - 아직도 생일 선물로 기프티콘 받아?">
<meta property="og:description"
	content="이제부터 기프투게더로 우리가 원하는 선물을 주고 받기로 해요 🎁">
<meta property="og:url" content="https://wishes.kr">
<meta name="description" content="이제부터 기프투게더로 우리가 원하는 선물을 주고 받기로 해요 🎁">
<meta name="keywords" content="위시즈,취업선물,선물하기,크라우드펀딩 선물,선물하기,선물펀딩,친구선물">
<title>기프투게더 - 아직도 생일 선물로 기프티콘 받아?</title>

<!-- jQuery from Google CDN -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"
	integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
	crossorigin="anonymous"></script>

<!-- jquery UI
<script th:src="@{/ui/1.12.1/jquery-ui.js}"></script>
<link rel="stylesheet"
	th:href="@{/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css}"
	integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer">-->

<!-- jQuery UI JavaScript from jQuery CDN -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	integrity="sha256-4PsdZC9xBT1thd/7tzmKlXVHxmasSsxxvQPzowjYb3E="
	crossorigin="anonymous"></script>

<!-- jQuery UI CSS from jQuery CDN -->
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
	integrity="sha256-+ydQyLy8fFfBZ8aRyhEMzJ40V0RS/ARHjHrL4DQ7e0o="
	crossorigin="anonymous">
<!-- css -->
<link rel="stylesheet" th:href="@{/css/typograpy.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/story.css}">
<link rel="stylesheet" th:href="@{/css/funding.css}">
<link rel="stylesheet" th:href="@{/css/main-wishes.css}">
<link rel="stylesheet" th:href="@{/css/fundinglist.css}">
<link rel="stylesheet" th:href="@{/css/tutorial.css}">
<link rel="stylesheet" th:href="@{/css/tab.css}">
<!-- pretendard -->
<link rel="stylesheet"
	th:href="@{/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css}">

<!-- google 'Noto Sans KR' & Iimmana -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<!-- https://fonts.googleapis.com/css2?family -->
<link
	th:href="@{/css/font.css?family=Noto+Sans+KR:wght@300;400;500;700&family=Timmana&display=swap}"
	rel="stylesheet">

<!-- favicon -->
<link rel="icon" type="image/png" sizes="32x32"
	th:href="@{/img/favicon-32x32.png}">


<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta name="background-color" content="#ffffff">
<meta name="display" content="standalone">

<!-- tailwind css -->
<link th:href="@{/css/app.css}" rel="stylesheet">

<!-- animate.css -->
<link rel="stylesheet" th:href="@{/css/animate.min.css}">

<!-- Slick Carousel JS from CDNJS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<!-- Slick Carousel CSS from CDNJS -->
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">

<!-- Swiper JS CSS from CDNJS -->
<link rel="stylesheet"
	href="https://unpkg.com/swiper/swiper-bundle.min.css">
<!-- Swiper JS from CDNJS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Kakao JS SDK from Kakao CDN 
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script> -->

<!-- kakaocdn-->
<script th:src="@{/js/kakao.min.js}"
	integrity="sha384-x+WG2i7pOR+oWb6O5GV5f1KN2Ko6N7PTGPS7UlasYWNxZMKQA63Cj/B2lbUmUfuC"
	crossorigin="anonymous"></script>
<script>
     Kakao.init('35c87e06e02f613d33238669a100e514'); // 사용하려는 앱의 JavaScript 키 입력
</script>




</head>

<body class="">
	<div
		class="fixed top-0 right-0 bottom-0 left-0 w-full flex justify-center text-gray-800 bg-primary-300">
		<!-- #mobile page# -->
		<div id="mobilePage"
			class="relative contents-area border-0 flex flex-col w-full overflow-y-scroll"
			style="max-width: 500px; background-color: #ffffff; box-shadow: 1px -2px 35px 7px rgba(0, 0, 0, 0.46); -webkit-box-shadow: 1px -2px 35px 7px rgba(0, 0, 0, 0.46); -moz-box-shadow: 1px -2px 35px 7px rgba(0, 0, 0, 0.46);">

			<!-- # 모바일 헤더 # -->
			<div th:replace="~{header :: headerFragment}"></div>

			<!-- # 모바일 네비게이션 # -->
			<nav th:replace="~{navbar :: navbarFragment}"></nav>


			<main id="main" class="mt-[54px] leading-normal">
				<!-- 기본 템플릿 안에 삽입될 내용 Start -->
				<!-- 내용 content 안에 <section></section> 형식 참고 -->
				<th:block layout:fragment="content"></th:block>
				<!-- 기본 템플릿 안에 삽입될 내용 End -->		
			</main>

			<!-- footer -->
			<footer th:replace="~{footer :: footerFragment}"></footer>

			<!-- 우하단 버튼 -->
			<a href="https://pf.kakao.com/_LsJqG/chat" target="_blank"><img
				th:src="@{/svg/kakaochat.svg}" width="40px" height="110px"
				style="z-index: 9999; display: block; right: 20px; bottom: 85px; position: fixed; cursor: pointer; opacity: 1;"></a>
			<a href="javascript:scrollTop();"><img th:src="@{/svg/top.svg}"
				width="40px" height="110px"
				style="z-index: 9999; display: block; right: 20px; bottom: 135px; position: fixed; cursor: pointer; opacity: 1;"></a>
			<!-- URL이 복사 되었습니다. 안내 문구 밑에 -->
			<div id="toast" class="body3"></div>
		</div>
	</div>



	<script>
        function linkcopy() {
            var url = '';
            var textarea = document.createElement("textarea");
            document.body.appendChild(textarea);
            url = window.document.location.href;
            textarea.value = url;
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
            // 토스트 호출
            showToast('URL이 복사되었습니다.');
        }

        function toggleSearchBar() {
            $("#searchWrapper").toggleClass("hidden");
        }

        function toggleSideMenu() {
            $("#sideMenu").toggleClass("hidden");
            $("#mobileHeader").toggleClass("h-full");
        }
 
        function showToast(txt) {
            let removeToast;

            const toast = document.getElementById('toast');
            toast.innerText = txt;
            toast.classList.add('show');

            toast.classList.contains('show') && (
                clearTimeout(removeToast),
                removeToast = setTimeout(() => {
                    toast.classList.remove('show');
                }, 1500)
            )
        }

        function scrollTop() {
            const $mobilePage = $('#mobilePage');
            $mobilePage.animate({ scrollTop: 0 }, 1000);
        }

        function searchFundingHeader() {
            var search_name = $('#search_funding').val();
            if (search_name.length > 1) {
                $('#searchFundingHeaderForm').submit();
            } else {
                commonAlert('검색은 2글자 이상입력해주세요.');
            }
        }

        $('input[id="search_funding"]').keydown(function () {
            if (event.keyCode === 13) {
                event.preventDefault();
                searchFundingHeader();
            };
        });

        function recommendLink() {
            location.href = '/login?back=' + window.document.location.href;

        } 
 
        // redirect
        $(function () { 
            var nav_active = sessionStorage.getItem('nav_active');
            if (nav_active != null) {
                $('.nav').removeClass('active-nav')
                $('#' + nav_active).addClass('active-nav');
            }
         });
    </script>
	<!-- 자바스크립트 Start -->
	<th:block layout:fragment="script"></th:block>
	<!-- 자바스크립트 End -->
</body>

</html>