<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/CardLayout.css">
<link rel="stylesheet" href="/css/Detail.css">
</head>
<body>
<div class="detail">
    <div class="detail-image">
        <img th:src="${product.productImg}" alt="Product Image">
    </div>
    <div class="detail-info">
        <h1 th:text="${product.name}"></h1>
        <div class="description" th:text="${product.description}"></div>
		<a th:href="@{|/products/${product.productLink}/modify|}" class="btn-primary">수정하기</a>
		<a th:href="@{|/products/${product.productLink}/delete|}" class="btn-primary">삭제하기</a>
		<!--<button id="deleteButton" data-product-link="${product.productLink}" class="btn-primary">삭제하기</button>-->
    </div>
</div>
<div class="funding-result">
	<div th:text="${totalPeople}" class="funding-amount">
	</div>
	<div th:text="${product.currentAmount}" class="funding-total-people">
	</div>
</div>

<div class="container">
	<div class="card-list" th:if="${messageList != null}">
		<a th:each="message : ${messageList}" class="card">
			<div class="card-details">
				<h2 th:text="${message.name}" class="card-name"></h2>
				<p th:text="${message.content}" class="card-contents"></p>
				<p th:text="${message.amount}" class="card-amount"></p>
			</div>
		</a>
	</div>
</div>
</body>
</html>