<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
    <a href="javascript:void(0);" onclick="sendMessage()">Send Message</a>

    <script>
        function sendMessage() {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/sendMessage';

            document.body.appendChild(form);
            form.submit();
         // 전송 완료 알림창
            alert('전송이 완료되었습니다.');
        }
    </script>
</body>
</html>
