<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="/css/nav.css">
    <script th:inline="javascript">
        function uploadFile(event) {
            var file = event.target.files[0];
            var formData = new FormData();
            formData.append('file', file);
            formData.append('imageUri', document.getElementById('uploadedImage').src);

            fetch("/files/image/wishlists", {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('파일 업로드 실패');
                    }
                })
                .then(imageUri => {

                    document.getElementById('uploadedImage').style.display = 'block'; // 이미지 태그의 display 속성을 block으로 변경
                    document.getElementById('errorMessage').style.display = 'none';
                    document.getElementById('uploadedImage').src = imageUri;
                    document.getElementById('uploadedImageUri').value = imageUri;
                })
                .catch(error => {
                    document.getElementById('errorMessage').textContent = error.message;
                    document.getElementById('errorMessage').style.display = 'block';
                });
        }
    </script>
</head>
<body>
<div class="nav">	
	<a class="logo" th:href="@{/main}">
		<img src="/images/logo.png" alt="logo">
	</a>
	<div class ="menu">
		<a class="myWish" th:href="@{/wishlists/my/0}">
			<img src="/images/mywishButton.png" alt="mywish">
		</a>
		<a class="mypage" th:href="@{/mypage}">
			<img src="/images/mypageButton.png" alt="mypage">
		</a>
	</div>
</div>

<div>
    <h2>위시 리스트 생성</h2>
    <form th:action="@{/wishlists/}" th:object="${wishListForm}" method="post">
        <label for="name">위시리스트 이름</label>
        <input type="text" id="name" th:field="*{name}">

        <label for="description">설명</label>
        <input type="text" id="description" th:field="*{description}">

        <label for="deadLine">기한 날짜</label>
        <input type="datetime-local" id="deadLine" th:field="*{deadLine}">

        <input for="uploadedImage" type="file" id="file" name="file" onchange="uploadFile(event)" placeholder="사진등록하기">
        <img id="uploadedImage" alt="Uploaded Image" style="display: none;">
        <input type="hidden" id="uploadedImageUri" th:field="*{uploadedImage}">

        <label for="address">주소</label>
        <input type="text" id="address" th:field="*{address}">

        <label for="phoneNumber">핸드폰번호</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}">

        <button type="submit">위시 리스트 생성</button>
    </form>
</div>

</body>
<footer th:fragment="footerFragment" id="footer" class="mb-[60px] relative">
	<div class="info_box flex justify-between">
		<div>
			<p>상호명 : (주)Giftogether</p>
			<p>대표자 : MoAdream</p>
			<p>사업자 등록번호 : 777-77-77777</p>
			<p>
				Email: <a href="mailto:777@777.com">777@777.com</a>
			</p>
			<p>Tel : 777-7777-7777</p>
			<p>Address : 서울 종로구 창경궁로 254 6층, 6층 603호</p>
			<p>통신판매번호 : 2024-ㅁㅁㅁㅁ-7777</p>
			<p>
				Copyright &#169;2024 Giftogether, <span class="text-gray-200">icon
					by <a class="" target="_blank" href="https://icons8.com">Icons8</a>
				</span>
			</p>
			<p>
				Based on <a href="https://wishes.kr/" target="_blank">©2023
					Wishes</a>, modified by Wishes. View original at <a
					href="https://wishes.kr/" target="_blank">©2023 Wishes</a>
			</p>
			<p>
				<span class="text-gray-200"><a class="" target="_blank"
					href="private.html">개인정보처리방침</a></span>
			</p>
		</div>
	</div>
</footer>
</html>
